*.synctex.gz
.project
output/
dokumentation.pdf
*.pdf
*.swp
*.backup
*.bak
*.orig
*compile.log
dokumentation.aux
dokumentation.bbl
dokumentation.bcf
dokumentation.blg
dokumentation.fdb_latexmk
dokumentation.fls
dokumentation.glg
dokumentation.glo
dokumentation.gls
dokumentation.ist
dokumentation.lof
dokumentation.log
dokumentation.lol
dokumentation.lot
dokumentation.synctex.gz
dokumentation.run.xml
dokumentation.toc
